body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande",
  "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",
  "WenQuanYi Micro Hei",sans-serif
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
  }
html, body {
  height: 100%
}
body {
  background: #f2f2f2
}
.header {
  background: #222;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  padding: 138px 0 0;
  text-align: center;
  min-height: 400px;
  position: relative;
}
.logoimg {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: -34px;
}
.logotxt {
  margin-bottom: 30px;
  border: 0;
}
.logotxt a {
  font-weight: 700;
  color: #fff;
  font-size: 64px;
}
.text-center {
  text-align: center;
}
.site-name > span {
  display: none;
  margin-top: 6px;
  font-size: 65%
}
.submit-site {
  background-color: #eee;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
}
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget {
  padding: 0 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.main-footer .widget .title {
  color: #fff;
  border-bottom: 1px solid #303030;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #337ab7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .friend-links a {
  display: block;
  border-bottom: 1px dashed #303030;
  padding-bottom: 14px;
  margin-bottom: 14px;
  color: #959595;
  transition: all .2s ease;
}
.widget .friend-links a:last-child {
  margin-bottom: 0;
}
#content .post-text blockquote{position:relative;padding:3% 0 3.5% 12%;margin-bottom:1%;border-top:solid 8px #dfe7ec}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  transition: all .2s ease;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.copyright {
  background: #111;
  font-size: 13px;
  text-align: center;
  color: #555;
  padding-top: 14px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #555;
}
.main {
  margin-top: 90px;
}
.home-template .post, 
.archive-template .post {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.post-title {
  position: absolute;
  font-size: 24px;
  z-index: 9;
  bottom: 12px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
}
.post-title a {
  color: #777;
}
.post-featured-image {
  position: relative;
  padding-top: 62.5%;
  overflow: hidden;
}
.tag-ad .post-featured-image {
  padding-top: 75%;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.post-featured-image .thumbnail {
  margin-bottom: 0;
  padding: 12px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.post img {
  display: block;
  max-width: 100%;
  height: auto;
}
.post-featured-image .thumbnail img {
  opacity: 0;
  transition: opacity .5s;
}
.post-featured-image .thumbnail.loaded img {
  opacity: 1;
}









