!!!5
%html
    %head
        %title 致我们永恒的青春
        %meta(charset="UTF-8")
        %meta(content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport")
        %meta(name="format-detection" content="telephone=no")
        %link(type="text/css" rel="stylesheet" href="css/mobile.css")
        %link(type="image/x-icon" rel="icon" href="./images/favicon_32.ico")
    %body
        %header
            %div.head-title Memory
            %div.head-text 致青春
        %section.music
            %div#music.music-bg
        %article
            %section.photo
                %div.img.p1
                %p.img-name 青春飞扬
            %section.photo
                %div.img.p2
                %p.img-name 地球人都知道
            %section.photo
                %div.img.p3
                %p.img-name 相视而笑, 莫逆于心
            %section.photo
                %div.img.p4
                %p.img-name 心心相印
            %section.photo
                %div.img.p5
                %p.img-name 华山论剑
            %section.explain
                %p 感谢一个人的最好方式就是, 如果不能和他在一起, 至少带着他最好的品质走下去.
                %p 本网站持续更新中... 敬请关注 !
        %footer
            %span Copyright © 致我们永恒的青春 |
            %a(href="http://www.miibeian.gov.cn/" target="_blank") 沪ICP备20151225号
        %audio#audio(src="http://7xlcxw.com1.z0.glb.clouddn.com/TimeWillTell.mp3" type="audio/mpeg")
        %script(type="text/javascript" src="js/mobile.min.js")
